<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

    <div class="oa-choice-filter oa-filter" data-oa-filter="{additionalField}" data-oa-filter-params="{&quot;type&quot;:&quot;choice&quot;,&quot;name&quot;:&quot;{additionalField}&quot;,&quot;aggregation&quot;:{&quot;type&quot;:&quot;additionalFields&quot;,&quot;field&quot;:&quot;{additionalField}&quot;,&quot;size&quot;:&quot;2000&quot;},&quot;labelKey&quot;:&quot;label&quot;}"></div>
</html>