<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

    <div class="oa-favorites-filter oa-filter" data-oa-filter="favorites" data-oa-filter-params="{&quot;type&quot;:&quot;favorites&quot;,&quot;activeClass&quot;:&quot;active&quot;,&quot;inactiveClass&quot;:&quot;inactive&quot;,&quot;activeFilterLabel&quot;:&quot;{f:translate(key: 'favorites', extensionName: 'openagenda')}&quot;}"><label for="favorites"><input type="checkbox" id="favorites"><f:translate key="favorites" /></label></div>
</html>